@model ShopNow.Presentation.Models.ProductViewModel.CreateAttributeViewModel
@{
}
<main class="container mt-4">
	<h1 class="mb-3">@ViewBag.Title</h1>
	<partial name="_StateBar"></partial>
    <form asp-action="CreateAttribute" method="post">
        <div id="productsContainer">
            @for (int pIndex = 0; pIndex < Model.ProductVariantDTOs.Count(); pIndex++)
            {
                <div class="product">
                    <h5>Product Specification</h5>

                    <!-- BIND ATTRIBUTE LIST -->
                    <div class="attributesContainer">
                        @for (int aIndex = 0; aIndex < Model.ProductVariantDTOs[pIndex].AttributeDTOs.Count(); aIndex++)
                        {
                            <div class="form-row attribute mb-3">
                                <div class="col-md-4">
                                    <select asp-for="ProductVariantDTOs[pIndex].AttributeDTOs[aIndex].Key" class="form-control">
                                        <option value="color">Color</option>
                                        <option value="size">Size</option>
                                        <option value="weight">Weight</option>
                                    </select>
                                    <span asp-validation-for="ProductVariantDTOs[pIndex].AttributeDTOs[aIndex].Key" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <input asp-for="ProductVariantDTOs[pIndex].AttributeDTOs[aIndex].Value" type="text" class="form-control" placeholder="Enter value">
                                    <span asp-validation-for="ProductVariantDTOs[pIndex].AttributeDTOs[aIndex].Value" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <button type="button" class="btn btn-danger text-white" onclick="removeAttribute(this)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                    <button type="button" class="btn btn-primary mb-3" onclick="addAttribute(this, @pIndex)">Add attribute</button>

                    <!-- PRICE -->
                    <div class="mb-3">
                        <label asp-for="ProductVariantDTOs[pIndex].ProductDetail.Price" class="form-label">Price ($)</label>
                        <input asp-for="ProductVariantDTOs[pIndex].ProductDetail.Price" type="number" class="form-control" step="0.01" required>
                        <span asp-validation-for="ProductVariantDTOs[pIndex].ProductDetail.Price" class="text-danger"></span>
                    </div>

                    <!-- QUANTITY -->
                    <div class="mb-3">
                        <label asp-for="ProductVariantDTOs[pIndex].ProductDetail.Quantity" class="form-label">Quantity</label>
                        <input asp-for="ProductVariantDTOs[pIndex].ProductDetail.Quantity" type="number" class="form-control" required>
                        <span asp-validation-for="ProductVariantDTOs[pIndex].ProductDetail.Quantity" class="text-danger"></span>
                    </div>

                    <button type="button" class="btn btn-danger" onclick="removeProduct(this)">Remove Product</button>
                    <hr>
                </div>
            }
        </div>

        <button type="button" class="btn btn-success mt-3" onclick="addProduct()">Add Product</button>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>

</main>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
		<script src="~/js/admin/"></script>
		<link href="~/css/admin/progressBar.css" rel="stylesheet" type="text/css" />
	}
}