@{
	ViewData["Title"] = "Manage Product";
}

@{
	ViewBag.Title = "Manage Prodduct";
}
<main class="">
	<h1>@ViewBag.Title</h1>
	<div class="table-area">
		<table class="table">
			<thead class="table-success">
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
					<td>John</td>
				</tr>
				<tr>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
					<td>
						<button class="btn btn-primary" onclick="alert('Dit me may')">Edit</button>
						<button class="btn btn-danger" onclick="alert('Xoa dcm may')">Delete</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</main>
